*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.form-box
{
    width: 20%;
    height: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    padding: 2%;
    border-radius: 10px;
    margin: 5%;
}
.title
{
    color: #fff;
}
.title img
{
    width: 45%;
    margin-bottom: 5%;
}
.datos
{
    display: inline-block;
    margin: 8%;
}
.datos input
{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #fff;
    color: #fff;
    padding: 5px 10px;
    margin: 8px 10px;

    outline: none;
}
::placeholder
{
    color: rgba(245, 243, 243, 0.651);
}
.boton
{
    text-align: center;
}
.boton button
{
    background:transparent;
    border: solid 0.5px #fff;
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    margin: 3%;
}
.boton button:hover
{
    font-size: 16px;
    transition: 0.5s;
}
.registro
{
    margin-top: 10%;
}
.registro a
{
    color: #b8b8b8;
    font-size: 12px;
    text-decoration: none;
}
.registro a:hover
{
    color: #fff;
    transition: 1s;
}

